.contactsList {
    padding: 10px;
    margin-top: 20px;
    border-color: #FFB366;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}

.contactsItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.contactBtn {
    width: 100px;
    height: 30px;
    font-size: 15px;
    margin-left: 15px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #FFB366;
    color: #FFFFFF;
    cursor: pointer;
}

.contactBtn:hover {
    background-color: #FFB366;
    color: #FFFFFF;
    box-shadow: 5px 5px 15px 5px #FF9933;
}